<link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">


<header>

    <ul>
        <li> <a routerLink="/">
                <h1>My Pokédex App</h1>
            </a> </li>
        <li style="float:right;"><a routerLink="/pokemon-list" routerLinkActive="active"
                ariaCurrentWhenActive="page">pokemon list</a></li>
        <li style="float:right;"><a routerLink="/card" routerLinkActive="active" ariaCurrentWhenActive="page">Card</a>
        </li>
    </ul>
</header>